.cost-delay-analytics{
    background-color: white; /* Set the desired background color */
    height: 32vh; /* Set desired height */
    width: 33%; /* Full width */
    border-radius: 8px;
}


.cost-delay-analytics {
    padding: 30px;
}

canvas {
    height: auto;
    width: 100%;

}