.del-perf{
    background-color: white; /* Set the desired background color */
    height: 32vh; /* Set desired height */
    width: 33%; /* Full width */
    border-radius: 8px;
}

.del-perf {
    padding: 30px;
}

bar {
    height: auto;
    width: 100%;

}